{%extends "layout.html" %}

{%block content %}

<table class="table">
  <thead>
    <tr>
      <th>Game</th>
      <th>Score</th>
      <th>Achiver</th>
    </tr>
  </thead>
  <tbody>
    {%for game in games%}
    <tr>
      <td scope="row">
        {% if game.url is not none %}
        <a href="{{game.url}}">{{game.name}}</a>
        {%else%}
        {{game.name}}
        {% endif %}

      </td>
      <td>
        {{game.highscore}}
      </td>
      <td>{{game.highscore_aciver }}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>

{%endblock%}